body {
    background-color: seagreen;
}
.titleText {
    margin: auto;
    width: auto;
    background-color: white;
    padding: 17px;
    border: 3px black;
    text-align: center;
    font-size: 24px; /* Adjust this value to change the font size */
    font-family: Arial, sans-serif; /* Change this value to change the font type */
}


.sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sideNav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sideNav a:hover {
    color: #f1f1f1;
}

.sideNav .closeBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.navButton {
    background-color: white;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.navButton:hover {
    background-color: lightgray;
    cursor: pointer; /* Ensures the cursor shows the click icon */
}

footer {
    width: 100%;
    text-align: center;
    z-index: -2;
    padding: 20px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0%;
    left: 0%;
}